.component {
  width: max-content;
  height: inherit;
  padding: 3%;
}
.init {
  vertical-align: middle;
  align-content: center;
  width: inherit;
  height: inherit;
}

.alignment {
  vertical-align: top;
}

.list {
  white-space: nowrap;
}

.form {
  width: 800px;
  padding-left: 10%;
}

.mat-cell {
  padding: 8px 8px 8px 0;
}

.agent-list {
  column-gap: 50px;
}

.onError {
  color: red;
}

.noError {
  color: gray;
}
