
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.table {
  width: 100%;
}

.container {
  width: 50%;
  margin-left: 25%;
  margin-top: 2%;
}

.success {
  color: green;
  font-size: medium;
  font-weight: bold;
  margin-right: 2%;
}

.error {
  color: red;
  font-size: medium;
  font-weight: bold;
  margin-right: 2%;
}

.msg-div {
  width: 100%;
  text-align: right;
}
